# Virtual Environment
venv/
env/
.env/
*.env/
.venv/

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.pkl

# Nilearn cache
scripts/nilearn_cache/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Data directories
data/
results/

# Data files
*.nii.gz
**/*.nii.gz
*.icloud
**/*.icloud
**/*.tsv

# Cache
**/__pycache__/
.ipynb_checkpoints/